@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
   background-color: #fff;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: normal;
}

.wrapper {
   margin: auto;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   max-width: 1400px;
   flex-wrap: wrap;
   display: flex;
   flex-direction: column;
}

.header {
   background-color: blueviolet;
   margin-top: 20px;
   width: 100%;
   max-width: 1400px;
}

.container__nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 78px;
   background-color: rgba(255, 255, 255, 0.758);
   position: sticky;
   top: 20px;
}

.logo img {
   margin-right: 11px;
}

.container__menu {
   display: flex;
   align-items: center;
}

.menu-1 {
   width: 350px;
   list-style-type: none;
   font-size: 14px;
   line-height: 28px; /* 200% */
   display: flex;
   justify-content: space-between;
}

header nav ul .menu__item a:link,
a:visited {
   color: #2f281e;
   text-decoration: none;
}

.menu__item a:hover,
a:active {
   color: #f90;
   text-decoration: underline;
}

.menu_2--btn {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   font-size: 16px;
   text-decoration: none;
   border-radius: 4px;
   margin-right: 14px;
   margin-left: 29px;
}

header .menu_2--btn a:link,
a:visited {
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
   border-radius: 4px;
   padding: 11px 22px 11px 25px;
}

header div .btn--first {
   background-color: #fff;
   border: 1px solid #bcd0e5;
}

header .btn--first a:link,
a:visited {
   color: #173a56;
}

header .btn--second {
   background-color: #f90;
   color: #fff;
}

header .btn--second a:link,
a:visited {
   color: #fff;
}

/* nav ul .btn {
   font-size: 16px;
   text-decoration: none;
   border-radius: 4px;
   padding: 11px 22px 11px 25px;
   width: 102px;
   height: 46px;
   margin-right: 14px;
   margin-left: 29px;
   text-align: center;
   flex-shrink: 0;
   display: inline-block;
} */

.container {
   width: 100%;
   max-width: 1400px;
   display: flex;
}

.container-1 {
   display: flex;
}

.card {
   display: flex;
   flex-direction: column;
}

/* .container-2 {
   background-color: azure;
   width: 100%;
   max-width: 1400px;
} */
