@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
   background-color: #fff;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: #2f281e;
}

.wrapper {
   margin: auto;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   max-width: 1400px;
   flex-wrap: wrap;
   display: flex;
   flex-direction: row;
}

.header {
   background-color: blueviolet;
   margin-top: 20px;
   width: 100%;
   max-width: 1400px;
}

.container__nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 78px;
   background-color: rgba(255, 255, 255, 0.758);
   position: sticky;
   top: 20px;
}

.logo img {
   margin-right: 11px;
}

.container__menu {
   display: flex;
   align-items: center;
}

.menu-1 {
   width: 350px;
   list-style-type: none;
   font-size: 14px;
   line-height: 28px; /* 200% */
   display: flex;
   justify-content: space-between;
}

.menu__item:link {
   color: #2f281e;
   text-decoration: none;
}

.menu__item:visited {
   color: #2f281e;
   text-decoration: none;
}

.menu__item:hover {
   color: #f90;
   text-decoration: underline;
}

.menu__item:active {
   color: #f90;
   text-decoration: underline;
}

.menu_2--btn {
   display: flex;
   align-items: center;
}

.btn {
   list-style-type: none;
   font-size: 16px;
   font-weight: 600;
   border-radius: 4px;
   padding: 11px 22px 11px 25px;
   text-decoration: none;
}

header .menu_2--btn:visited {
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
   border-radius: 4px;
   padding: 11px 22px 11px 25px;
}

header div .btn--first {
   background-color: #fff;
   border: 1px solid #bcd0e5;
   margin-left: 29px;
   margin-right: 14px;
}

header .btn--first:link {
   color: #173a56;
}

header .btn--first:visited {
   color: #173a56;
}

header .btn--second {
   background-color: #f90;
}

header .btn--second:link {
   color: #fff;
}

header .btn--second:visited {
   color: #fff;
}

/* end navigation */

/* header */

.container {
   width: 100%;
   max-width: 1400px;
   display: flex;
   align-items: center;
}

.container-1 {
   display: flex;
   justify-content: center;
   margin-top: 60px;
}

.card {
   position: relative;
   display: flex;
}

.card-1 {
   display: flex;
   flex-direction: column;
}

.card__content-title-1 {
   width: 518px;
   font-size: 44px;
   font-weight: 700;
   line-height: 54px; /* 122.727% */
}

.card__content-info-1 {
   width: 458px;
   height: 95px;
   color: #544837;
   font-size: 18px;
   line-height: 28px; /* 155.556% */ /* ev. move to body */
}

card__content {
   display: flex;
}

.card__btn-1 {
   color: #fff;
   font-weight: 700;
   line-height: normal;
   text-decoration: none;
   border-radius: 4px;
   background: #f90;
   padding: 15px 41px;
   margin-right: 30px;
}

.fa-play {
   width: 20px;
   height: 17px;
}
.card__btn-2 {
   color: #f90;
   font-weight: 600;
   line-height: normal;
   text-decoration-line: underline;
}

.container-2 {
   background-color: azure;
   display: flex;
   flex-direction: column;
}

.content-title-2 {
   display: flex;
   justify-content: center;
   margin-bottom: 54px;
}

.content-title-2 h2 {
   width: 539px;
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: normal;
}

.card__container-1 {
   display: flex;
   flex-direction: column;
   margin-top: 54px;
}

.icon {
   position: absolute;
   top: 0;
   width: 50px;
   height: 50px;
}

.card__content_title-3 {
   font-size: 22px;
   font-weight: 600;
   line-height: normal;
   margin-top: 80px;
}

.card__content-info-2 {
   min-width: 240px;
   color: #544837;
   font-size: 16px; /* ev. flytta till body */
   font-weight: 500;
   line-height: 26px; /* 162.5% */
}

.btn-orange {
   display: flex;
   justify-content: space-around;
   margin-top: 60px;
   margin-bottom: 90px;
}

.container-3 {
   display: flex;
   align-items: center;
}

/* .info-3 {
   width: 486px;
} */

.container-4 {
   display: flex;
   flex-direction: row-reverse;
}

.card-1__content {
   display: flex;
   flex-direction: column;
}

/* page footer */

.container__footer {
   background-color: beige;
   display: flex;
}

footer nav ul li a {
   list-style-type: none;
   text-decoration: none;
   color: #544837;
   font-style: normal;
   font-weight: 400;
   line-height: 35px; /* 218.75% */
}
